{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags %}
{% block body_class %}template-blogindexpage{% endblock %}
{% block content %}
    <div class="col-md-3">Menu
        {% for bip in blogparent %}
            {% with bip=bip.specific %}
                <ul>
                    <li>
                        <a href="{% pageurl bip %}">{{ bip.title }}</a>({{ blogpagesspe.all.count }})
                        {% for bipsub1 in blogdescen %}
                            {% with bipsub1=bipsub1.specific %}
                                <ul>
                                    <li>
                                        <a href="{% pageurl bipsub1 %}">{{ bipsub1.title }}</a>({{ blogpages.all.count }})
                                    </li>
                                </ul>
                            {% endwith %}
                        {% endfor %}
                    </li>
                </ul>
            {% endwith %}
        {% endfor %}
        <br>

    </div>
    <div class="col-md-9">
        <h1>{{ page.title }}</h1>
        <div class="intro">{{ page.intro|richtext }}</div>
        <p>There are {{ blogpages.all.count }} Posts</p>
        {% for post in blogpages %}
            {% with post=post.specific %}
                <h2><a href="{% pageurl post %}">{{ post.title }}</a></h2>
                {% with post.main_image as main_image %}
                    {% if main_image %}{% image main_image fill-160x100 %}{% endif %}
                {% endwith %}
                {#                <p>{{ post.intro }}</p>#}
                {{ post.body|richtext }}
            {% endwith %}
        {% endfor %}
    </div>
{% endblock %}